/*Limpa formataçoes padrões 
 * O asterico significa tudo

  Estilização da área principal
 */

 
 *{
    margin:0;
    padding:0;
}

body{
    /* 1em equivale a 16px*/
    font-size: 1em;
    font-family: "Trebuchet MS", 'Helvetica',  sans-serif;
    background: #725a2e;
} 


#area-cabecalho{
    background-color: #c2af03;
    padding: 15px;
    text-align: center;
}

#area-logo,#area-menu{
    padding: 10px;
    color: black;
}

#area-principal{
    width:920px;
    /*Permite deixar a margem esquerda e direita automática ou seja centralizado*/
    margin: 0 auto;
    padding:15px;
}
#area-lateral{
    background:#725a2e;
   
}


#area-postagens{
    width:660px;
    float: left;
    
}
.postagem{
    padding: 15px;
    margin-bottom: 20px;
    background: #383838;
}

.postagem-lateral{
    font-size: 0.8em;
    padding:5px;

}
.conteudo-lateral{
    background: #f87ac8;
    padding: 10px;
    margin-bottom: 20px;
    
}

#area-lateral{
    width:240px;
    float: right;
}
#area-rodape{
    clear:both;
    text-align: center;
    padding: 15px;
    background: #c2af03;
}

/*
--Formataçoes gerais ----
*/

h1{
    color:#4e4e4e;
    font-size:2.5em;
}
h2{
    color:#f7b600;
    color: #ffffff;
}

h3{
    color:#444444;
    background: rgb(102, 235, 235);
    padding: 5px;
    font-size: 18px;
}
h4{
    font-size: 15px;
    display: block;
}
img{
    float: left;
    padding-right: 10px;
    padding-left: 5px ;
}
p{
    display: inline;
    font-size: 15px;
    color: #ffffff;
    text-align: inherit;
}
strong{
    display:block;
    font-size: 12px;
}
span{
      color: #ffffff;
}
a{
    font-size: 15px;
    color: black;
}


.nav{
    color: black;
}
.margin{
    margin-top: 20px;
}

.data-postagem{
    font-size:0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom:  10px;
    display:block;
   
}
.histo{
    text-align: justify;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
.histlogo{
    text-align: justify;
    font-size: 15px;
    display: block;
    font-style: italic;
}
.imgcantor{
    float: right;
}
/*
--Formatação do menu---
*/
a{
    color: rgb(255, 217, 0);

}
a:link, a:visited{
    color: rgb(245, 216, 55);
    text-decoration: underline;
}


nav{
    color: black;
}
a:hover{
   text-decoration: none;
   color: white;
}

/*
 Tabelas    
*/
table{
    border: solid 1px gold;
    width: 50%;
    border-collapse: collapse; 
}
th{
    text-align: inherit;
    font-size:  20px;
    padding-left: 5px; 
    color: white;
}
td{
    border: solid 1px gold;
    padding-left: 5px;
    color: white;
}

.tempo{
    text-align: inherit;
}


/*
 Hovers
*/

aside:hover{
    border-radius: 30px;
    transition: 1.5s;
}

/*
 Quando é definido #area-cabecalho a:link e assim por diante quer dizer que somente irá atingir a formatação dos links que pertencem a classe do cabeçalho.
*/
#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
    text-decoration: underline black;
}

#area-cabecalho a:hover, .nav:hover{
    color: #fafafa;
    background: #725a2e;
    text-decoration: none;
}


